@import "../stylesheet/Core/variables";

.notfound {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.notfound_img {
  width: 18.75rem;
  height: 12.5rem;
  align-content: center;
  margin-top: 1.56rem;
  margin-bottom: 1.25rem;
}

.home_icon {
  background-color: $color-detail;
  border-radius: 50%;
  padding: 0.5rem;
  border: 1px solid $color-icon;
  color: $color-icon;
  margin-top: 1.25rem;
  &:hover {
    background-color: $color-hover;
  }
}
