@import "../Core/variables.scss";

.logo {
  height: 100px;
  width: 150px;
  padding-top: 20px;
}

.SingleCharacter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.characterDetailsName {
  margin-bottom: 50px;
  font-size: 30px;
}

@media all and (min-width: 768px) {
  .characterDetailsName {
    font-size: 40px;
  }
}

.singleCharacterCard {
  color: $color-icon;
  display: flex;
  align-items: center;
  height: 200px;
  width: 350px;
  margin-bottom: 50px;
}

@media all and (min-width: 768px) {
  .singleCharacterCard {
    height: 300px;
    width: 550px;
    margin-bottom: 30px;
  }
}

.imageCharacter {
  height: 250px;
  border-radius: 25px;
  margin-right: 30px;
}

.link {
  color: $color-icon;
}

.characterDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
